// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Ours
$primary: #b8ec79;
$secondary: #274D14;
$headerColor: #b8ec79;
$backgroundColor: #2a451c;
$borderColor: #2a451c;
$content-bg: #1e1e1e;

// Bootstrap overrides
$body-bg: #0f0f0f;
$body-color: #ddd;
$text-muted: #9D9D9D;

$modal-content-bg: #000;
$modal-content-border-color: $primary;

$card-bg: darken($backgroundColor, 5%);
$card-cap-bg: $backgroundColor;
$card-cap-color: $primary;

$table-dark-bg: #252835;
